<VirtualHost *:80>
    DocumentRoot <guest_magento_dir>
    ServerName <host>
    <Directory <guest_magento_dir>>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>
    ErrorLog "/var/log/httpd/mage-error.log"
    CustomLog "/var/log/httpd/mage-access.log" common
</VirtualHost>